<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--Syntax of connection
        SQL Authentication
        "Data Source=(MachineName)\(InstanceName); Initial Catalog=(DBName); User ID=(Username); Password=(UserPassword);"
     -->
    <add name="masterConnection" connectionString="Data Source=99.153.22.230; Initial Catalog=master; User ID=SA; Password=sqlFacility2"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>